@import "icons.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.gray {
    filter: grayscale(100%);
}

.font-montserrat {
    font-family: 'Montserrat Alternates', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.font-josefinSans {
    font-family: 'Josefin Sans', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.text-justify {
    text-align: justify;
}

.highlighted-block {
    @extend .font-josefinSans;
    border-radius: 15px; 
    background-color: #cfcfcf; 
    padding: 15px 15px;
}

.project-date {
    font-size: 105%;
    width: 100%;
    color: white;
    background-color: #5c544d;
    opacity: 0.8;
    position: absolute;
    z-index: 5;
    text-align: center;
    bottom: 0;
}

.fs-60 {
    font-size: 60%;
}

.fs-140 {
    font-size: 140%;
}

.fs-160 {
    font-size: 160%;
}

.ls-1 {
    letter-spacing: 1px;
}

.w-100 {
    width: 100%;
}

.br-20 {
    border-radius: 20px;
}

.mr-3 {
    margin-right: 3%;
}

.p-1 {
    padding: 1%;
}

.link-tooltip {
    @extend .text-center;
    @extend .font-josefinSans;
    font-size: 180%;
    height: 3rem;
    padding-top: 1.2rem;
    width: fit-content,
}

.pdf-link-tooltip {
    @extend .link-tooltip;
    height: 4rem;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.m-6 {
    margin: 6%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.mt-10 {
    margin-top: 10% !important;
}

.mb-5 {
    margin-bottom: 5%;
}

.mb-1 {
    margin-bottom: 1%;
}

.mt-1 {
    margin-top: 1%;
}

.mt-2 {
    margin-top: 2%;
}

.mt-3 {
    margin-top: 3%;
}

.mt-4 {
    margin-top: 4%;
}

.m-0 {
    margin: 0;
    left: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.display-block {
    display: block;
}

.img-small {
    width: 40%;
}

.center-horizontally {
    display: flex;
    margin: 0 auto 0 auto;
}

.center-vertically {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl {
    float: left;
}

#endomondo_preview2 {
    width: 60%;
    margin-left: 20%;
}

.download-pdf-anchor:hover {
    color: #B20000;
    transition: ease 0.9s;
}

.project-item-mobile-preview {
    display: none;
}

.project-item-desktop-preview {
    display: block;
}

@media only screen and (max-width: 468px) {

    #endomondo_preview2 {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .pageIcon {
        display: none !important;
    }
    
    .language-icon {
        height: 50% !important;
        width: 50% !important;
    }

    .project-item-title {
        font-size: 1.5rem !important;
    }

    .project-item-service {
        font-size: 1.3rem !important;
    }

    .project-item-other {
        font-size: 1rem !important;
    }
    
    .project-item-mobile-preview {
        display: block;
    }

    .project-item-desktop-preview {
        display: none;
    }

    .corner-language-icon,
    .corner-language-icon2 {
        display: none;
    }
}

@media only screen and (min-width: 469px) and (max-width: 768px) { 
    #endomondo_preview2 {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .pageIcon {
        display: none !important;
    }
    
    .language-icon {
        height: 4rem !important;
        width: 4rem !important;
        margin-top: 1rem;
    }

    .project-item-title {
        font-size: 1.3rem !important;
    }

    .project-item-service {
        font-size: 0.9rem !important;
    }

    .project-item-mobile-preview {
        display: block;
    }

    .project-item-desktop-preview {
        display: none;
    }

    .corner-language-icon,
    .corner-language-icon2 {
        display: none;
    }
}

body[data-theme='dark'] {
    .MuiPaper-root {
        background-color: #3A425D !important;
        color: white;
    }

    .darkenable-img {
        filter: brightness(75%);
    }
    
    .highlighted-block {
        background-color: #7C7C7C;
    }
}