.language-icon {
    height: 30% !important;
    width: 30% !important;
}

.corner-language-icon {
    height: 20% !important;
    width: 20% !important;
    position: absolute;
    z-index: 5;
    right: 0;
}

.star-icon {
    height: 20% !important;
    width: 20% !important;
}

.arrow-icon {
    height: 10% !important;
    width: 10% !important;
}

.w-100 {
    width: 100%;
}

.mr-3 {
    margin-right: 3%;
}

.p-1 {
    padding: 1%;
}

.m-6 {
    margin: 6%;
}

.mt-10 {
    margin-top: 10% !important;
}

.mt-1 {
    margin-top: 1%;
}

.mt-2 {
    margin-top: 2%;
}

.m-0 {
    margin: 0;
    left: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.img-small {
    width: 40%;
}

.fl {
    float: left;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

body[data-theme='dark'] {
    .MuiPaper-root {
        background-color: #3A425D !important;
        color: white;
    }
}