.language-icon {
    height: 30% !important;
    width: 30% !important;
}

.base-corner-language-icon {
    position: absolute;
    z-index: 5;
    right: 0;
}

.corner-language-icon {
    @extend .base-corner-language-icon;
    height: 15% !important;
    width: 15% !important;
}

.corner-language-icon2 {
    @extend .base-corner-language-icon;
    height: 10% !important;
    width: 10% !important;
    margin-top: 2%;
    margin-right: 2%;
}

.home-icon {
    height: 35% !important;
    width: 35% !important;
}

.android-icon {
    height: 17% !important;
    width: 17% !important;
}

.star-icon {
    height: 20% !important;
    width: 20% !important;
}

.arrow-icon {
    height: 10% !important;
    width: 10% !important;
}

